.challenge {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	margin-top: 60px;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	padding: 30px;
	color: black;
}

.challenge-item {
	background-color: white;
	border-radius: 12px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 0 10px rgba(24, 24, 24, 0.2);
	transition: transform 0.3s ease;
}

.challenge-item:hover {
	transform: translateY(-5px);
}

.challenge-item h2 {
	color: rgb(8, 90, 231);
	margin-bottom: 10px;
}

.challenge-item p {
	font-size: 14px;
	color: #333;
	margin-bottom: 20px;
}


